/boneage-test-dataset/**/*
/boneage-training-dataset/**/*
/deep_cut_hand/dataset_hands/**/*.png
/deep_cut_hand/deep_fight/**/*

# File created for pickle_dataset.py script
/packaging-dataset/**/*
/**/*.pkl

# Ignore weight and model
/**/*.h5
/weights/**/*
/deep_cut_hand/weights/**/*
/deep_cut_hand/dataset_hands/histogram-hand-dataset.hdf5
/model_backup/**/*
/model-backup/**/*

# Ignore images. Each person should use as many as it wants from the original dataset
/**/*.png

# TensorBoard log
/tensorboard/**/*

# IDE-specific stuff:
.idea/*

# Ignore LaTeX project files
/paper/*.aux
/paper/*.glo
/paper/*.idx
/paper/*.log
/paper/*.toc
/paper/*.ist
/paper/*.acn
/paper/*.acr
/paper/*.alg
/paper/*.bbl
/paper/*.blg
/paper/*.dvi
/paper/*.glg
/paper/*.gls
/paper/*.ilg
/paper/*.ind
/paper/*.lof
/paper/*.lot
/paper/*.maf
/paper/*.mtc
/paper/*.mtc1
/paper/*.out
/paper/*.synctex.gz

# Python
__pycache__

# mac
./**/.DS_Store
