/boneage-test-dataset/**/*
/boneage-training-dataset/**/*

# File created for pickle_dataset.py script
/**/*.pkl

# Ignore weight and model
/**/*.h5
/weights/**/*
/model-backup/**/*

# Ignore images. Each person should use as many as it wants from the original dataset
/**/*.png
/**/**/*.png

# TensorBoard log
/tensorboard/**/*

# IDE-specific stuff:
.idea/*

# Ignore LaTeX project files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

__pycache__
