/boneage-test-dataset/**/*
/boneage-training-dataset/**/*

# File created for pickle_dataset.py script
/**/*.pkl

# Ignore weight and model
/**/*.h5
/weights/**/*
/model-backup/**/*

# Ignore images. Each person should use as many as it wants from the original dataset
/**/*.png
/**/**/*.png

# TensorBoard log
/tensorboard/**/*

# IDE-specific stuff:
.idea/*


__pycache__
